<div class="row">
  <div class="col-xs-10">
    <rb-shopping-list-add [item]="selectedItem" (cleared)="onCleared($event)"></rb-shopping-list-add>
    <hr>
    <ul class="list-group">
      <a class="list-group-item clearfix " style="cursor: pointer" *ngFor="let item of items" (click)="onSelectItem(item)">

        <div class="pull-left">
        Title:{{item.name}}<br>Price:{{item.price}}<br>Quantity:{{item.quantity}}

        </div>
        <span class="pull-right">
      <img class="img-responsive"
           src="{{item.imagePath}}"
           style="max-height: 50px;"/>
  </span>
      </a>
    </ul>
  </div>
</div>
<div class="row">
  <div class="col-xs-10">
  <div class="pull-right list-group">
    Total Price: {{asyncPrice|async}}<br>Total Items: {{asyncQuantity|async}}
  </div>
  </div>

</div>

